
<footer class="footer">
    <div class="all">
        <div class="links">
            <a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook-square"></i></a>
            <a href="https://www.instagram.com/_the_dpk/" target="_b"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/DeepakJ68684857" target="_blank"><i class="fa fa-twitter-square"></i></a>
            <a href="https://www.linkedin.com/in/deepak-jaiswal-14a1301b6/" target="_blank"><i class='fa  fa-linkedin-square'></i></a>
        </div>
        <p>&copy;DeepJais <span style="font-weight: bold;">2023</span></p>
    </div>
</footer>
</body>