:root {
    --color: rgb(240, 141, 141);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.body {
    display: flex;
    justify-content: center;
}

.area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    color: white;
    max-height: 800px;
    max-width: 350px;
    height: 98vh;
    width: 25%;
    background-color: black;
    border-radius: 30px; 
}

.area .heading {
    margin-top: 30px;
}

.area .box {
    display: flex;
    align-items: center;
    gap: 12px;
}

.area .box label {
    font-size: 20px;
    padding-top: 5px;
    color: var(--color);
}

.area .box input {
    border: none;
    border-bottom: 1px solid var(--color);
    background: transparent;
    text-align: center;
    padding-bottom: 5px;
    outline: none;
    color: white;
    margin-left: 30px;
}

.area .weather {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.area .weather .city,
.feels,
.temp {
    color: var(--color)
}

.area .humidity {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 60%;
}

.area .humidity .image {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.area .humidity .image .humi-img {
    padding-left: 5px;
}

.area .humidity .image .wind-img {
    padding-right: 10px;
}

.area .humidity .name .wind-name {
    padding-right: 15px;
}

.area .humidity .name {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.area .humidity .name p {
    margin-bottom: 5px;
}

.area .humidity .value {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.area .humidity .value p {
    margin-bottom: 5px;

}

.area .humidity .value .humi-value {
    padding-left: 18px;
}

.area .humidity .value .wind-value {
    padding-left: 10px;
}

.area .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.area .desc img{
    background-color: var(--color);
    background: white;
    border-radius: 40px;
    width: 70px;
}
.area .desc p {
    color: var(--color);
    font-size: 20px;
}


.area .value p {
    color: var(--color);
}



.navbar .navbar-brand {
    padding-left: 10%;
    display: inline-block;
}

.navbar .navbar-brand img:hover {
    width: 40px;
    height: 40px;
}

.navbar ul {
    position: absolute;
    right: 10%;
    gap: 30px;
    z-index: 5;

}

.navbar ul li {
    font-size: 20px;
    font-weight: bold;
}

.navbar ul li:hover {
    font-size: 25px;
}





/* this is for home.ejs */
#home {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    gap: 10px;
}

#home .box {
    background-color: var(--color);
    width: 40%;
    height: 40px;
    border-radius: 20px;
}

#home .box form {
    display: flex;
    justify-content: space-between;
    height: 100%;

}

#home .box form input {
    width: 100%;
    background: transparent;
    border-radius: 20px;
    text-align: center;
    border: none;
    color: white;
    outline: none;
    font-size: 25px;
    padding-left: 15%;
}

#home .box form input::placeholder {
    color: rgb(221, 214, 214);
    font-size: 20px;
}

#home .box form label {
    height: 100%;
    border-radius: 20px;
    padding: 5px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    cursor: pointer;
    background: transparent;
    width: 25%;
    justify-content: center;
}

#home .box form label:hover {
    font-size: 18px;
}





.footer {
    display: flex;
    justify-content: center;
}

footer .all {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

footer .all p {
    color: var(--color);
}

footer .all .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer .all .links a {
    text-decoration: none;
}

footer .all .links .fa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: var(--color);
    color: white;
    font-size: 22px;
    border-radius: 5px;
}

footer .links .fa:hover {
    font-size: 30px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.contact .logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact .logo img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.contact .logo .mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.contact .logo .mail .at{
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact .itsme {
    background-color: var(--color);
    padding: 10px;
    border-radius: 10px;
    width: 60%;
}

.contact .itsme label {
    font-weight: bold;
    padding-left: 10px;
}

.contact .itsme input {
    padding-left: 25px;
    font-size: 20px;
    color: var(--color);
}

.contact .itsme textarea {
    padding-left: 25px;
    font-size: 20px;
    color: var(--color);
}

.contact .itsme input::placeholder {
    font-size: 15px;
    color: gray;
}

.contact .itsme .btn {
    display: block;
    margin: auto;
}

.contact .itsme .btn:hover {
    background-color: var(--color);
    color: white;

}





@media only screen and (max-width: 480px) {
    #home {
        height: 460px;
    }

    #home .box {
        width: 90%;
    }

    #home .box form label {
        width: 10%;
    }

    #home .box form input {
        font-size: 20px;
    }

    #home .box form input::placeholder {
        font-size: 15px;
    }

    #home .box form label span {
        display: none;
    }

    .navbar .navbar-brand {
        padding-left: 1%;
    }

    .navbar ul {
        gap: 0;
        right: 20px;
    }

    .navbar ul .nav-link {
        font-size: 15px;
        font-weight: bold;
        padding: 0;
        padding-top: 3px;
    }

    .navbar .navbar-toggler {
        margin-right: 1%;
    }



    .area {
        width: 85%;
        margin-top: 50px;
        gap: 25px;
    }

    .contact .logo img {
        width: 100px;
        height: 100px;
    }

    .contact h2 {
        font-size: 1.5rem;
    }

    .contact .itsme {
        width: 95%;
    }




}




@media only screen and (min-width: 480px) and (max-width: 768px) {
    #home {
        height: 430px;
    }

    #home .box {
        width: 80%;
    }

    #home .box form input {
        font-size: 20px;
    }

    #home .box form label {
        width: 15%;
    }

    #home .box form input::placeholder {
        font-size: 15px;
    }

    #home .box form label span {
        display: block;
        padding-right: 30px;
    }

    .navbar .navbar-brand {
        padding-left: 2%;
    }

    .navbar ul {
        gap: 0;
        right: 8px;
    }

    .navbar ul .nav-link {
        font-size: 18px;
        padding: 0;
        padding-top: 5px;
    }

    .navbar .navbar-toggler {
        margin-right: 2%;
    }

    .area {
        width: 80%;
        margin-top: 55px;
        gap: 30px;
    
    }


    .contact .logo img {
        width: 150px;
        height: 150px;
    }

    .contact h2 {
        font-size: 1.8rem;
    }

    .contact .itsme {
        width: 90%;
    }



}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    #home .box {
        width: 55%;
    }

    #home .box form input {
        font-size: 20px;
    }

    #home .box form input::placeholder {
        font-size: 15px;
    }

    #home .box form label span {
        display: block;
    }

    .area {
        width: 55%;
        gap: 30px;
    }

    .navbar .navbar-brand {
        padding-left: 2%;
    }

    .navbar ul {
        gap: 0;
        right: 19px;
    }

    .navbar ul .nav-link {
        font-size: 20px;
        font-weight: bold;
    }

    .navbar .navbar-toggler {
        margin-right: 2%;
    }
    .contact .itsme {
        width: 75%;
    }

}